@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .border-1 {
    border: 1px;
  }
  .top-60 {
    top: 60px;
  }
  .content-area {
    min-height: calc(100vh);
  }
  .screen {
    min-height: calc(100vh - 16rem);
  }
  .p-20vh {
    padding-top: 20vh;
  }
}

:root {
  /* normalní režim barvy*/
  --color-primary: #fff;
  --color-priamry-2: #e5e5e5;
  --color-priamry-opacity: #e5e5e53f;

  /* dark režim barvy*/

  --color-dark: #161515;
  --color-footer-bg: #282626;
  --color-dark-opacity: #28262660;
}

body {
  font-family: 'Montserrat', sans-serif;
}
